extends layout

block content
  div.container
    div.book.row
      each val in booksData
        div.col-xs-6.col-sm-4.col-md-3
          div.cover
            a(href='book/'+val._id)
              img(src='/covers/small/'+val._id+'.jpg')
          div.info
            span= val.metadata.title
            span= val.metadata.creator
  
