<!DOCTYPE html>
<html ng-app="booksApp">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="apple-touch-icon" href="favicon.png">
	  <link rel="icon" href="favicon.png">
    <!-- css -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700'  rel="stylesheet" media="screen">
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="stylesheets/ionicons.min.css" rel="stylesheet" media="screen">
    <link href="stylesheets/animate.min.css" rel="stylesheet" media="screen">
    <link href="stylesheets/style.css" rel="stylesheet" media="screen">
    <!-- js -->
    <script>
      var server = <%- JSON.stringify(server) %>;
    </script>
    <script src="javascripts/jquery-1.11.1.min.js"></script>
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/angular-route.min.js"></script>
    <script src="javascripts/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script src="javascripts/angular-lazy-img.min.js"></script>
    <script src="javascripts/socket.io-1.3.5.js"></script>
	  <script src="javascripts/app.js"></script>
  </head>
  <body ng-controller="mainController">
      <div class="row top-menu">
        <div class="col-xs-1 right"><a ng-show="!isHome" style="padding-right: 10px;" class="ion-ios-arrow-left" href="#/" ></a></div>
        <div class="col-xs-1"><a class="ion-navicon" href ng-click="showSide()"></a></div>
        <div class="col-xs-4"></div>
        <div class="col-xs-4"><input type="search" name="search" placeholder="Search" ng-model="searchValue" ng-show="isSearch" ng-keyup="$event.keyCode == 13 && search()" /></div>
        <div class="col-xs-1" style="text-align: right;"><a style="padding-right: 10px;" class="ion-ios-search" href ng-click="showSearch()" ></a></div>
        <div class="col-xs-1"><a class="ion-ios-loop {{active}}" href ng-click="scan()"></a></div>
      </div>
      <div class="sidebar-menu {{side}}">
       <div class="row">
         <div class="col-xs-12 header">
           <div class="col-xs-1 icon">
               <span class="ion-ios-arrow-down"></span>
            </div>
            <div class="col-xs-10 name">
              Order by
            </div>
         </div>
         <div class="col-xs-12" ng-click="reOrder('autor')">
          <div class="col-xs-1 icon">
             <span ng-class="order === 'autor' ? 'ion-ios-checkmark-outline' : 'ion-ios-circle-outline'"></span>
          </div>
          <div class="col-xs-10 name">
            Autor
          </div>
         </div> 
         <div class="col-xs-12" ng-click="reOrder('title')">
           <div class="col-xs-1 icon">
               <span ng-class="order == 'title' ? 'ion-ios-checkmark-outline' : 'ion-ios-circle-outline'"></span>
            </div>
            <div class="col-xs-10 name">
              Title
            </div>
         </div>
       </div>
      </div>
      <div ng-if="alert" class="alert">{{alert}}</div>
      <!-- angular templating -->
  		<!-- this is where content will be injected -->
      <div ng-view></div>
      <div ng-if="isBooks" class="empty">
        <div class="ion-ios-book-outline"></div>
        <p>Your library is empty</p>
      </div>
      </div>
  </body>
</html>