<div class="container" ng-init="find()">
  <div class="book-single row">
      <div class="col-xs-12 col-sm-1 actions">
        <a href ng-class="{'ion-ios-pricetag': hover, 'ion-ios-pricetag-outline': !hover}" ng-mouseenter="hover=true" ng-mouseleave="hover=false"></a>
        <a href ng-click="markRead(book.read)" ng-class="{'ion-ios-circle-outline': book.read == 0, 'ion-ios-checkmark': book.read == 1, 'ion-ios-circle-filled': book.read == 2 }" ng-mouseenter="hover2=true" ng-mouseleave="hover2=false"></a>
        <a href ng-click="markLike(book.like)" ng-class="book.like ? 'ion-ios-heart' : (hover3 ? 'ion-ios-heart' : 'ion-ios-heart-outline')" ng-mouseenter="hover3=true" ng-mouseleave="hover3=false"></a>
        <a href="/download/{{book._id}}" ng-class="{'ion-ios-cloud-download': hover4, 'ion-ios-cloud-download-outline': !hover4}" ng-mouseenter="hover4=true" ng-mouseleave="hover4=false"></a>
      </div>
      <a href class="col-xs-12 col-sm-4">
        <span class="ion-ios-book download"></span>
        <img ng-src="/covers/original/{{book._id}}.jpg" />
      </a>
      <div class="col-xs-12 col-sm-7">
        <h1 class="col-xs-12 col-sm-12"><span class="title">{{book.metadata.title}}</span></h1>
        <span class="col-xs-12 col-sm-12 publisher">{{book.metadata.creator}}</span>
        <div class="col-xs-12 col-sm-12 description">{{book.metadata.description}}</div>
        <div class="col-xs-12 col-sm-12 subject"><span ng-if="book.metadata.calibreseries">{{book.metadata.calibreseries}} {{book.metadata.calibreseries_index}}</span><span class="year">{{book.wordCount}}K words</span></div>
        <div class="col-xs-12 col-sm-12 info">{{book.metadata.subject}} <span class="year">{{book.metadata.date}}</span></div>
      </div>
  </div>
</div>

  