<div class="container" ng-init="find()">
  <div class="book-single row">
      <a href="/download/{{book._id}}" class="col-xs-12 col-sm-4">
        <span class="ion-ios-cloud-download download"></span>
        <img ng-src="/covers/original/{{book._id}}.jpg" />
      </a>
      <div class="col-xs-12 col-sm-8">
        <h1 class="col-xs-12 col-sm-12"><span class="title">{{book.metadata.title}}</span></h1>
        <span class="col-xs-12 col-sm-12 publisher">{{book.metadata.creator}}</span>
        <div class="col-xs-12 col-sm-12 description">{{book.metadata.description}}</div>
        <div class="col-xs-12 col-sm-12 subject"><span ng-if="book.metadata.calibreseries">Serie {{book.metadata.calibreseries}} {{book.metadata.calibreseries_index}}</span><span class="year">{{book.wordCount}}K words</span></div>
        <div class="col-xs-12 col-sm-12 info">{{book.metadata.subject}} <span class="year">{{book.metadata.date}}</span></div>
      </div>
  </div>
</div>

  