body {
  font: 13px 'Open Sans', sans-serif;
  background-color: rgb(251,251,251);
  margin-top: 80px;
}

a {
  color: #333;
  text-decoration: none!important;
}

.actions {
  font-size: 2.5em;
  text-align: center;
  color: #333;
  margin-top: 10px;
}

div.sidebar-menu .icon {
  font-size: 2em;
}

div.sidebar-menu .name {
  padding-top: 10px;
}

div.sidebar-menu {
    margin: 0;
    width: 250px;
    position: fixed;
    border-right: 1px solid #eee;
    display: block;
    height: 100%;
    top: 50px;
    z-index: 98;
    background-color: #fbfbfb;
    opacity: 0.9;
    text-transform: uppercase;

    visibility: visible;
	  -webkit-transform: translate3d(-100%, 0, 0);
	  transform: translate3d(-100%, 0, 0);
    transition: all 0.3s ease;
}

div.sidebar-menu.open{
  visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  transition: all 0.3s ease;
}

div.sidebar-menu .col-xs-12.header {
  border-bottom: 1px solid #eee;
  padding: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: default;
}
div.sidebar-menu .row {
  margin: 0;
}

div.sidebar-menu .col-xs-12 {
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

div.top-menu {
  height: 50px;
  width: 100%;
  background-color: #fbfbfb;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #eee;
  z-index: 2;
  opacity: 0.9;
  font-size: 2em;
  padding-left: 10px;
}

div.top-menu input {
  width: 100%;
  background-color: rgba(251,251,251,.9);
  color: #111;
  border: 0;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  height: 30px;
  top: -5px;
  position: relative;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #aaa;
    font-weight: lighter;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #aaa;
   font-weight: lighter;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #aaa;
   font-weight: lighter;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #aaa;
   font-weight: lighter;
}

.right {
  text-align: right;
}

.alert {
    position: fixed;
    bottom: 0;
    z-index: 99;
    background-color: #000;
    border-radius: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    color: #FFF;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 11px;
    opacity: .7;
}

div.empty {
  margin: 0 auto;
  text-align: center;
}

div.empty .ion-ios-book-outline {
  font-size: 15em;
  color: #666;
}

div.empty p {
  font-size: 1.6em;
  color: #666;
}

div.top-menu div {
  margin-top: 5px;
}

.deleted {opacity: 0.4;}

.container { margin-top: 40px; margin-bottom: 40px; }

div.comiclist {margin-top: 0px;}

div.comiclist div.fila{
	padding: 10px 0px 10px 20px;
}

div.comiclist div.fila:nth-child(odd) {
    background: rgb(245,245,245);
}

div.comiclist div.fila:nth-child(even) {
    background: none;
}
div.comiclist div div div {width: 10%; float: left;overflow:hidden;white-space:nowrap;text-overflow: ellipsis;}
/*div.comiclist div {width:50%;list-style: none; float: left;margin: 10px;padding: 10px;}*/
/*div.comiclist div div div {width: 10%; float: left;}*/
div.comiclist div div div + div:first-letter {text-transform: uppercase;}
div.comiclist div div div + div {width:82%; /*float: left;*/ overflow:hidden;white-space:nowrap;text-overflow: ellipsis;}
div.comiclist div div div + div + div {width:8%; /*float: left;*/ font-size: 2em;overflow:visible;height: 0;text-align: center;}
/*ul.book li div:hover span {
	z-index: 999;
	position: relative;
	top: -305px;
	background-color: rgba(0,0,0,0.6);
	min-width: 74%;
	display: block;
	text-align: center;
	color: #DDD;
	min-height: 300px;
	border: none;
	padding-top: 140px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}*/
div.book div div.info {width: 185px; height: 55px; margin-top: 5px; margin: 6px auto 0 auto;}
div.book div div.info span {float: left; width: 100%;overflow:hidden;white-space:nowrap;text-overflow: ellipsis;}
/*div.book div div.info span + span {float: right; width: 20%;text-align: right;color: #999; font-weight: 300;}*/
div.book div div.info span + span  {float: left; width: 100%;text-align: inherit;color: #999;font-style: inherit;}
div.book div div.cover {overflow: hidden; width: 197px; text-align: center; height: 295px; border: 1px solid #444; margin: 0 auto;}
div.book div div img {height: 100%;}
div.book div div img:hover {opacity: 0.7;}

div.book-single a img {padding: 0; width: 100%;border: 1px solid #444;}
div.book-single a:hover img {opacity: 0.7;}
div.book-single h1 span{
	vertical-align: middle;
}
div.book-single h1 {margin: 0;font-size: 2.3em;;}
div.book-single div.subject {opacity: 0.7; margin-top:30px;text-transform: uppercase;font-size: .9em;}
div.book-single div.info {opacity: 0.7; margin-top:5px;text-transform: uppercase;font-size: .9em;}
div.book-single div.description {margin-top:40px; text-align: justify;}
div.book-single span.year{
	float: right;
}

div.book-single a:hover .download {
    top: 50%;
    text-align: center;
    width: 100%;
    font-size: 70px;
    margin: -35px auto;
    position: absolute;
    padding-right: 30px;
    opacity: .8;
    color: #444;
    z-index: 1;
    display: block;
}

div.book-single a .download {
    top: 50%;
    text-align: center;
    width: 100%;
    font-size: 70px;
    margin: -35px auto;
    position: absolute;
    padding-right: 30px;
    opacity: 0;
    color: #444;
    display: block;
}

div.book-single span.publisher {
	font-weight: 300;
	font-size: 20px;
	margin-top: 10px;
}

div.book-single span.publisher span{
	vertical-align: middle;
}

div.book-single span.publisher span+span{
	font-size: 12px;
}

.ion-ios7-cloud-download {color: #444;position: relative;top:-10px;}
.ion-ios7-close {color: #DDD;position: relative;top:-10px;}


.style-1 {
  list-style-type: none;
  padding: 10px 0 0 0;
  width: 100%;
}
.style-1 li {
  position: relative;
  height: 50px;
}
.style-1 li em, .style-1 li span {
  display: block;
  border-bottom: 5px solid #FFE5E5;
  padding-bottom: 5px;
}
.style-1 li em {
  overflow:hidden;white-space:nowrap;text-overflow: ellipsis;
  font-style: normal;
  border-bottom-color: #DB6B6B;
  position: absolute;
  overflow: visible;
  -webkit-animation: grow-width 2s;
          animation: grow-width 2s;
}
.style-1 li span {
  text-align: right;
}

.ion-ios-loop.active{
  -moz-animation: spinner-loader 1500ms infinite linear;
  -webkit-animation: spinner-loader 1500ms infinite linear;
  animation: spinner-loader 1500ms infinite linear;
}

@-moz-keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinner-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@media (min-width: 1200px){
	.container {
	width: 970px;
	}
}

@media (max-width: 767px){
	.actions {display: none;}
}

@media (max-width: 480px){
	div.book div div.info {width: 167px; height: 60px; }
	div.book div div.cover {width: 167px; height: 255px; }
	div.book-single h1 {font-size: 20px;}
	div.book-single span.publisher {font-size: 15px;}
  .col-xs-6 {width: 48%!important;}
  div.book-single h1 {margin-top: 30px;font-size: 2em;}
  div.book-single .col-xs-12 {width: 98%!important;}

}

/*remove bootstrap glow */
textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus, button:focus, button:active, button:hover, span:hover, span:focus, span:active
{
    outline:0px !important;
    -webkit-appearance:none!important;
}
